.room-code {
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;

    background: #fff;
    border: 1px solid #835afd;
    cursor: pointer;

    display: flex;

    div {
        height: 2.5rem;
        background: #835afd;
        padding: 0 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 1rem 0 0.75rem;
        width: 15rem;
        font-size: 0.785rem;
        font-weight: 500;
    }
   
}

@media (max-width: 720px) {
    #page-room main .room-title {
        justify-content: center;
    }
}